# Exercise 2.3

## H. Diana McSpadden (hdm5s)


## Univariate Conjugates
Instructions: You may discuss this assignment with other students in the class,
but you must submit your own answers to the questions below. Include an
honor pledge with your submission. Submit online and in PDF. This exercise is
ungraded.

### Question 1. 
Determine characteristics that contribute to vehicular accidents using accident report data as follows:
We have variables:
* d == drunk {0,1}
* t = texting {0,1}
* c = crash outcome {0,1,2}
    * 0: <= $5k in damages
    * 1: > $5k in damanages, and no injury or death
    * 2: injury or death

In [1]:
import pandas as pd
import numpy as np

In [4]:
data = {'d' : [1,1,0,0,1,0,1],
    't': [1,0,1,1,1,0,0],
    'c': [2,0,1,0,2,0,1]}

df_q1 = pd.DataFrame(data)
df_q1

   d  t  c
0  1  1  2
1  1  0  0
2  0  1  1
3  0  1  0
4  1  1  2
5  0  0  0
6  1  0  1

### Question 2c
You work as a data scientist for a small software-as-a-service (SAS) company. Your CEO asks you to estimate the average time, M1 and the average number of full time people M2, it will take to complete an addition to
your main product. To do this, you assume f((M1, M2)|w) ∼ N(µ0, vw)
with E[µ0 = (3, 4.5) (months and full time people) based on the equivalent of 3 observations (i.e., v = 3). Also, f(w) ∼ Wishart(r, α) where
α = 2 and
r =

1 .5
.5 1.5

Find the marginal prior for (M1, M2)

#### Answer: